body {
    background-color: bisque;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    background-color: black;
    width: 18.75rem;
    border-style: solid;
    border-color: green;
    border-width: 0.5rem;
    padding: 2rem;
}

.full-width {
    width: 100%;
    display: flex;
    justify-content: center;
}

.rounded-full {
    border-radius: 624.9375rem;
}

.text-white {
    color: white;
}

.font-weight-light {
    font-weight: light;
}

#card-header {
    color: red;
}

.font-weight-heavy {
    font-weight: bold;
}

#absolute-card {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.navbar {
    background-color: #00c6d7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: 20px;
}

.nav-links li {
    margin-right: 20px;
    font-size: 16px;
}

.grid {
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    grid-template-areas:
    "A A B B B"
    "A A D D E"
    "B B D D F"
    
}

.A {
    background-color: greenyellow;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.B {
    background-color: magenta;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.C {
    background-color: cyan;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.D {
    background-color: orange;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.E {
    background-color: blue;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.F {
    background-color: maroon;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.grid-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
